.btn-padding{
    
    padding: 0px 15px;
}
.col-width{
    
    width: 14.285714286%;
}

#balanceQtyKg{
	color : red;
	font-family: 'Baloo Bhaijaan', cursive; 
}

#salesQtyKg{
	color : green;
	font-family: 'Baloo Bhaijaan', cursive;
}
