body {
	padding-top: 50px;
}

.btn-padding {
	padding: 0px 15px;
}

.col-width {
	width: 14.285714286%;
}

#colorKg, #balanceQtyKg, #balanceQtyPieces {
	color: red;
	font-family: 'Baloo Bhaijaan', cursive;
}

#salesQtyKg, #salesQtyPieces {
	color: green;
	font-family: 'Baloo Bhaijaan', cursive;
}

.navbar {
	background-color: #ddd;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);

	/* the rest of your styling */
}



@media ( min-width : 768px) {
	.modal-size {
		width: 1000px;
		
	}
}

.modal-size {
    position: relative;
    width: auto;
   
}


td.highlight {
    background-color: whitesmoke !important;
}



.box-shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* the rest of your styling */
}

.card-container.cardbox {
    max-width: 450px;
    padding: 40px 40px;
}
.cardbox{
	padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: ;
}

.input-shadow:focus{
	 -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
