<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CHERP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>JsonFilePath</param-name>
    <param-value>F:\\server\\jsonfiles\\</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.cherp.controllers.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatedData</display-name>
    <servlet-name>updatedData</servlet-name>
    <servlet-class>com.cherp.controllers.updatedData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedData</servlet-name>
    <url-pattern>/updatedData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaServlet</display-name>
    <servlet-name>AreaServlet</servlet-name>
    <servlet-class>com.cherp.controllers.AreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaServlet</servlet-name>
    <url-pattern>/AreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.cherp.controllers.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyServlet</display-name>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.cherp.controllers.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.cherp.controllers.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.cherp.controllers.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateServlet</display-name>
    <servlet-name>StateServlet</servlet-name>
    <servlet-class>com.cherp.controllers.StateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateServlet</servlet-name>
    <url-pattern>/StateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverServlet</display-name>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>com.cherp.controllers.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpensesServlet</display-name>
    <servlet-name>ExpensesServlet</servlet-name>
    <servlet-class>com.cherp.controllers.ExpensesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpensesServlet</servlet-name>
    <url-pattern>/ExpensesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationServlet</display-name>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>com.cherp.controllers.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/LocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CleanersServlet</display-name>
    <servlet-name>CleanersServlet</servlet-name>
    <servlet-class>com.cherp.controllers.CleanersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanersServlet</servlet-name>
    <url-pattern>/CleanersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VanServlet</display-name>
    <servlet-name>VanServlet</servlet-name>
    <servlet-class>com.cherp.controllers.VanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VanServlet</servlet-name>
    <url-pattern>/VanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankServlet</display-name>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>com.cherp.controllers.BankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
</web-app>